<!DOCTYPE html>
<html lang="es">

<%- include('partials/meta') %>

<body>
  <%- include('partials/header') %>

    <main class="container__listas">
      <h1 class="primary__title">Preguntas Frecuentes</h1>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, non?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maiores nemo nulla. Rerum provident, ex, illo numquam nemo quas voluptate commodi nisi at consequuntur impedit dolorem perferendis corrupti eligendi odio!
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam hic placeat inventore?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae distinctio impedit illum laboriosam dolorum perspiciatis quia. Nesciunt aspernatur dolore ipsa temporibus ex, natus debitis odio totam cupiditate quas eligendi eius nulla unde amet eaque accusantium!
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae quidem optio fugit hic numquam.
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, non?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maiores nemo nulla. Rerum provident, ex, illo numquam nemo quas voluptate commodi nisi at consequuntur impedit dolorem perferendis corrupti eligendi odio!
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam hic placeat inventore?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae distinctio impedit illum laboriosam dolorum perspiciatis quia. Nesciunt aspernatur dolore ipsa temporibus ex, natus debitis odio totam cupiditate quas eligendi eius nulla unde amet eaque accusantium!
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing?</h3>

          <svg width="15" height="10" viewBox="0 0 42 25">
            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae quidem optio fugit hic numquam.
          </p>
        </div>
      </div>



    </main>

    <%- include('partials/footer') %>

      <script>
        const faqs = document.querySelectorAll(".faq");

        faqs.forEach(faq => {
          faq.addEventListener("click", () => {
            faq.classList.toggle("active");
          })
        })
      </script>

</body>

</html>