<footer>
  <div class="footer__container">
      <nav class="footer__navbar">
        <a class="navbar__link" href="/about">Quienes Somos</a>
        <a class="navbar__link" href="/faqs">FAQS</a>
        <a class="navbar__link" href="/contacto">Contacto</a>
      </nav>

      <img src="/multimedia/branding/isotype.svg" alt="Isologo Funkoshop">
  </div>

  <p class="footer__text">All rights reserved 2023 - Funkoshop & copy</p>
</footer>